<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>Users &laquo; Admin</title>
  <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/assets/css/admin.css">
  <script src="/assets/vendors/nprogress/nprogress.js"></script>
  <style>
    .error {
      color: red;
    }
  </style>
</head>

<body>
  <script>NProgress.start()</script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <form id="editForm">
          <h2>编辑新管理员</h2>
          <div class="form-group">
              <label for="id">编号</label>
              <input id="id" value="{{admin_id}}" class="form-control" name="id" type="text" readonly>
            </div>
          <div class="form-group">
            <label for="email">邮箱</label>
            <input id="email" value="{{admin_email}}" class="form-control" name="email" type="email" placeholder="邮箱">
          </div>
          <div class="form-group">
            <label for="nickname">昵称</label>
            <input id="nickname" value="{{admin_nickname}}" class="form-control" name="nickname" type="text"
              placeholder="昵称">
          </div>
          <div class="form-group">
            <label for="tel">电话</label>
            <input id="tel" value="{{admin_tel}}" class="form-control" name="tel" type="text" placeholder="电话">
          </div>

          <div class="form-group">
            <label for="state">状态</label>
            {{if admin_state == '激活'}}
            <input name="state" type="radio" value="激活" checked> 激活
            <input name="state" type="radio" value="禁用"> 禁用
            {{else}}
            <input name="state" type="radio" value="激活"> 激活
            <input name="state" type="radio" value="禁用" checked> 禁用
            {{/if}}
          </div>
          <div class="form-group">
            <button id="editBtn" class="btn btn-primary" type="button">添加</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script src="/assets/vendors/jquery/jquery.js"></script>
  <script src="/assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/assets/vendors/validate/jquery.validate.min.js"></script>



  <script>
   //注册添加按钮点击事件
   $('#editBtn').click(function(){
     $.ajax({
       url: '/admin/user/modifyuser',
       type: 'post',
       data: $('#editForm').serialize(),
       dataType: 'json',
       success: function(result) {
         console.log(result);
             //提示修改结果
             parent.layer.alert(result.message, function (index_alert) {
            //当修改成功时，关闭弹出层，显示新修改的数据
            if (result.code == 200) {
              //只要使用type=2弹出的另一个网页，获取该网页的索引
              //就必须使用下列代码
              var index = parent.layer.getFrameIndex(window.name);
              parent.layer.close(index);

              //刷新父页面
              parent.location.reload();
            }
            parent.layer.close(index_alert);
          });
       }
     })
   })
  </script>
  <script>NProgress.done()</script>
</body>

</html>
<script>NProgress.done()</script>